/*SITE FAIT PAR SCRATTO - 2016 */
		/*BLEBLE POWER*/

::selection {
    background: white;
    color: black;
}

a{
  cursor: pointer;
}

.fade {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/*NAV*/

html{
  height: 100%;
  }

  body{
  margin: 0;
  height:100%;
  background-color: black;
}

header{
  position: fixed;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 3;
}

header a{
  text-decoration: none;
  color: #05182a;
}

.menu{
  height: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 9px -3px;
  background: rgba(255,252,242,1);
}

.menu a{
    padding: 25px 18px;
    transition: .3s;
}

.menu .menu-home:hover{
  background: crimson;
  color: white;
  transition: .3s;
}

.menu .menu-moi:hover{
  background: lightseagreen;
  color: white;
}

.menu .menu-portfolio:hover{
  background: #0f4880;
  color: white;
}

.menu .menu-contact:hover{
  background: coral;
  color: white;
}

.item-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
    padding-left: 0;
    width: 70%;
}

.item-menu li:first-child{
  margin-right: 40px;
  letter-spacing: 3px;
}

.item-menu li{
  font-size: 1.5em;

}

.social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.social a{
    padding: 42px 20px 18px;
}

.social a:hover{
    background: white;
}

.container{
  overflow: hidden;
  margin: 40px 20px;
}

.site-content{
  padding-top: 60px;
}

.site-content-index{
 background-color: crimson;
}

.site-content-portfolio{
  background: #0f4880;;
}

.site-content-olivier{
  background: lightseagreen;;
}

.site-content-contact{
  background: coral;;
}



header ul{
  list-style-type: none; 
  display: flex;
}


/*HEADER*/

body{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, li, a{
	font-family: 'Amatic SC';
    font-weight: 700;
    text-decoration: none;
}

h1{
    font-size: 3.5em;
    letter-spacing: 2px;
    color: #FFFCF2;
}

h2{
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #FFFCF2;
}

h3{
    font-size: 2em;
    letter-spacing: 2px;
    color: #FFFCF2;
}

p{
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
    font-size: 1.3em;
    color: #FFFCF2;
}

#cover{
	display: flex;
}

#logo-titre{
	background-color: black;
	width: 30%;
}

#bloc-logo{
    border-bottom: white 1px solid;
    padding: 20px;
}

#bloc-logo img{
	display: inline-block;
}

#bloc-logo h1{

	display: inline-block;
	vertical-align: bottom;
	font-size: 2.5em;
	color: white;
	line-height: 0.8;
}

#bloc-titre h2{
	padding: 50px 20px;
    line-height: 0.7;
}

#photo-cover{
	width: 70%;

}

#photo-cover img{
	width: 100%;
	height: auto;

}

/*.first-letter::first-letter{
  font-size: 2em;
}*/

.resume{
  color: #05182a;
  font-weight: 700;
}

/*NAV*/

nav{
	height: 100px;
}

#list-nav{
    width: 80%;
	margin: 0 0 0 20px;
	padding: 0;
}

#list-nav li{
	display: inline-block;
	color: white;
	padding: 2% 2%;
    border-right: #FFFCF2 1px solid;
}

#list-nav li:last-child{
}


/*HOMEPAGE*/

.header-page-index{
  padding: 0 100px;
}

#container-index{
    padding-top: 5%;
    background-color: crimson;
}

#container a{
	color: white;
    text-decoration: none;
}

.bloc-work{
    background-color: black;
    width: 80%;
    height: auto;
    margin: 0px auto 80px;
    padding: 20px;
    display: flex;
    justify-content: center;
    transition: 1s ease-in-out;
}

.bloc-work:hover{
    background-color: coral;
}

.bloc-about{
    background-color: black;
    width: 80%;
    height: auto;
    margin: 0px auto 80Px;
    padding: 20px;
    display: flex;
    justify-content: center;
    transition: 1s ease-in-out;
}

.bloc-about:hover{
    background-color: #04B5FF;
}

.container-project{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('../images/fond-container.jpg');
}

.bloc-photo-1{
    width: 40%;
    height: 350px;
     background: url('../images/fond-workbw.png') no-repeat center center;
    background-size: cover;
    transition: 0.5s ease-in-out;
}

.bloc-work:hover .bloc-photo-1{
    width: 40%;
    height: 350px;
    background: url('../images/fond-work.png') no-repeat center center;
    background-size: cover;
}

.bloc-photo-2{
    width: 40%;
    height: 350px;
    background: url('../images/photo-bloc-bw.png') no-repeat center center;
    background-size: contain;
    transition: 0.5s ease-in-out;
}

.bloc-about:hover .bloc-photo-2{
    width: 40%;
    height: 350px;
    background: url('../images/photo-bloc-couleur.png') no-repeat center center;
    background-size: contain;
}

.bloc-work .bloc-photo img{
    position: absolute;
    right: 0;
}

.bloc-work .bloc-photo {
    position: relative;
}

.description{
    width: 60%;
}

.description h1{
    padding: 0 40px;
    margin: 0;
}

.description p{
    padding: 20px 40px;
    margin: 0;
}

/*Portfolio*/



.inprocess{
    position: absolute;
    top: 0;
    right: 0;
    background: gold;
    padding: 0 10px;
}

#all-project{
    width: 100%;
}

#container-portfolio{
    padding-top: 5%;
    background-color: #0f4880;
}

.header-page{
    text-align: center;
    margin: 120px 0;
    color: #FFFCF2;
    padding: 0 50px;
}

.header-page h1{
    color: #FFFCF2;
    letter-spacing: 2px;
}

.header-page h2{
    color: #FFFCF2;
    letter-spacing: 2px;
}

.row-projet{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.row-projet a{
    text-decoration: none;
}

.bloc-projet{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35.16%;
    height: auto;
    background-color: black;
    padding: 20px;
    margin-bottom: 40px;
    transition: 0.4s ease-in-out;
}

.bloc-projet:hover{
    background-color: #36D3DA;
}

.contenu-projet{
    position: relative;
    background-color: white;
    width: 97%;
}

.photo-projet{
    height: auto;
    text-align: center;
    background:no-repeat center white;
    background-size: contain;
}

.contenu-projet img{
    width: 44%;
    height: auto;
}

.description-projet{
    max-height: 270px; 
    padding: 10%;
    background: url('../images/fond-container.jpg');
}

.description-projet ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.description-projet ul li{
    margin: 0;
}

.description-projet h1, .description-projet .bouton-projet{
    text-align: center;
}

.description-projet h1{
    margin: 0 0 40px;
    font-size: 2em;
}

.description-projet h2{
    font-size: 1.5em;
    margin: 0 0 20px;
}

.description-projet p{
    font-size: 1.3em;
}

.description-projet ul{
    margin-bottom: 60px;
    padding: 0;
}

.description-projet li{
    display: inline-block;
    width: 5%;
    margin-right: 20px;
}

.bouton-projet{
    width: 51.16%;
    margin: 0 auto;
    height: 50px;
    background-color: purple;
}

.bouton-projet a{
    text-decoration: none;
    color: white;
    font-size: 1.125em;
    display: block;
    height: 100%;
    padding-top: 8%;
}

.client{
  background: #FFFCF2;
  text-align: center;
  width: 100%;
}

.client ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}

.client img{
  width: 25%;
}

.client li{
  list-style-type: none;
}

/*SINGLE PROJECT*/


.header-page-single{
    text-align: center;
    color: #FFFCF2;
    padding: 60px 50px;
    background: #1A1A1A;
    border-bottom: 1px solid #FFFCF2;
}

#container-single{
    padding: 20px 100px;
    text-align: center;
    background-color: #1A1A1A;
}

#container-single a, #container-single h1, #container-single h2, #container-single h3, #container-single p{
     color: #FFFCF2;
}

#bandeau-single{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: crimson;
    height: 180px;
}

.link-single{
    padding-top: 20px;
}

.link-single a{
    font-size: 2em;
    text-decoration: none;
    background-color: crimson;
    text-align: center;
    width: 50%;
    margin: 50px auto;
    padding: 0 3%;
    color: #FFFCF2;
    border-radius: 55px;
    border: black 3px solid;
}

.link-single a:hover{
    color: #05182a;
    background-color: #FFFCF2;
}

#container-single .lists-description{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#container-single ul{
    list-style-type: none;
    padding: 0;
}


#breadcrumb {
    padding-top: 50px;
}

#breadcrumb a:hover{
    color: crimson;
}

#breadcrumb a {
    color: #FFFCF2;
    text-decoration: underline;
}

.header-page a{
    color: #FFFCF2;
    text-decoration: none;
}

.on{
    font-family: 'amatic';
    font-weight: 700;
    font-style: unset;
}

.list-project-description{
  margin-bottom: 60px;
}

.list-project-description a{
  text-decoration: underline;
}

#description-single a:hover{
  color: crimson;
}

.download-file{
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-size: 1.5em
}

.gallerie{
  margin-top: 20px;
}

/*PAGE-OLIVIER*/

#container-olivier{
    padding-top: 5%;
    background: lightseagreen ;
}

.header-page-olivier{
    text-align: center;
    color: #05182a;
    margin: 120px 0;
}

.header-page-olivier h1{
    font-size: 3.5em;
    color: #FFFCF2;
    letter-spacing: 2px;
}

.header-page-olivier h2{
    font-size: 2.5em;
    color: #FFFCF2;
    letter-spacing: 2px;
}

.header-page-olivier h3{
    font-size: 2em;
    color: #FFFCF2;
    letter-spacing: 2px;
}

#professionnel, #personnel{
    display: flex;
    justify-content: space-around;
    width: 90%;
}

#professionnel h1, #personnel h1{
    margin: 0;
}

#professionnel p, #personnel p{
    color: #05182a;
 }

#professionnel{
    margin: 0 auto 80px;
    background-color: #D8916E;
    color: #05182a;
    border: whitesmoke 23px solid;
    box-sizing: border-box;
}

#personnel{
    background-color: darkseagreen;
    color: #05182a;
    box-sizing: border-box;
    border: whitesmoke 23px solid;
    margin: 0 auto;
}

.contenu-olivier-pro, .contenu-olivier-perso{
    margin: 10px 40px;
    width: 70%;
}

.contenu-olivier-pro a{
  color: #05182a;
  letter-spacing: 3px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}

.photo-olivier-1, .photo-olivier-2{
    min-width: 30%;
    margin: 10px;
}

.photo-olivier-1{
    position: relative;
    background: url('../images/olivierPortrait2.jpg') no-repeat center;
    background-size: cover;
}

.photo-olivier-1::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s ease-in-out;
    background: url('../images/olivierPro.jpg') red no-repeat center center;
    background-size: cover;
}

.photo-olivier-1:hover::before,
.photo-olivier-1:focus::before{
    opacity: 1;
}

.photo-olivier-2{
    position: relative;
    background: url('../images/olivierPlage.jpg') no-repeat center;
    background-size: cover;
}

.photo-olivier-2::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s ease-in-out;
    background: url('../images/olivierSurf.gif') red no-repeat center center;
    background-size: cover;
}


.photo-olivier-2:hover::before,
.photo-olivier-2:focus::before{
    opacity: 1;
}

.CTA{
    text-align: center;
    width: 35%;
    margin: 50px auto;
    padding: 5px;
    color: #05182a;
    border-radius: 55px;
    border: black 5px solid;
}

#link-cv{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px auto;
}

#link-cv a{
    text-decoration: none;
    color: #05182a;
}

#link-cv h2{
    margin: 0;
    padding: 20px; 
}

.cta-en{
    background: url('../images/drapeau-en.png') steelblue no-repeat right;
}

.cta-fr{
    background: url('../images/drapeau-fr.png') steelblue no-repeat right;
}

.linkedin {
    text-align: center;
    padding-bottom: 50px;
}

.linkedin img{
    margin-top: 20px;
}


/*PAGE CONTACT*/

#containerContact{
  padding-top: 5%;
}

#containerContact h1, #containerContact h2, #containerContact h3{
  color:#FFFCF2;
}

#flex-contact{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.introContact{
  width: 35%;
  background-color: bisque;
  padding: 40px 30px;
  border: indianred solid 15px;
}

.introContact p{
    text-align: center;
    font-family: 'amatic';
    font-size: 1em;
    letter-spacing: 2px;
    color: #05182a;
    margin-top: 80px;
}

.introContact h2{
    margin-bottom: 80px;
}

.introContact a{
  letter-spacing: 2px;
  font-family: 'Josefin';
  color: #05182a;
  margin-bottom: 20px;

}

.formulaire{
  width: 45%;
  background: bisque;
  border: indianred solid 15px;
}

.formulaire .champs{
  display: flex;
  margin:20px;
}

.formulaire label{
  text-align: right;
  width: 150px;
  padding-right: 20px;
}

.formulaire input{
  text-align: left;
  width: 200px;
}

.formulaire textarea{
  text-align: left;
  width: 350px;
  height: 160px;

}

#containerContact span{
  color: #0000b5;
}

.etoile{
  background-color: burlywood;
  padding: 20px;
  text-align: center;
  margin: 20px 0 40px;
  color: #05182a;
}

input[type=submit]{
  text-align: center;
  padding: 10px;
  background-color: burlywood;
  color: #05182a;
  border: indianred solid 4px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1.5em;
  font-family: 'Josefin';

}

.submit{
  margin:40px 0;
  text-align: center;
}

input:focus, textarea:focus{
  border: #09d7d9 solid 2px;
}


/*FOOTER*/

.image-arbre{
  background: url(../images/logo.svg) no-repeat center center;
  background-size: contain;
  height: 100%;
  max-width: 100%;
}


footer{
  background: #05182a;
  text-align: center;
  padding: 40px 40px;
}

footer nav{
  height: auto;
}

footer p{
  font-family: 'Josefin';
  font-size: 0.8em;
  margin-top: 50px;
}

footer h1{
  font-size: 1.5em;
}

footer li{
  list-style-type: none;
}

.global-menu-footer{
  display: flex;
  justify-content: space-around;
  text-align: center;
}


.item-menu-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-menu-footer{
  padding: 0;
}

.menu-footer img{
  width: 100%;
  height: auto;
}

.tech{ 
    padding: 40px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 50px 0;
}

.tech ul{
  padding: 0;
}

.menu-footer a{
  text-decoration: none;
  font-size: 3em;
  color: #FFFCF2;
}

.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.info-site a{
    color: #FFFCF2;
    font-family: 'Josefin';
    font-size: 0.8em;
}

.imaaage{
  width: 100%;
  height: 150px;
}

/*MESSAGE ENVOYE*/

.message-envoye{
  text-align: center;
  padding: 100px 50px;
}

.message-envoye a{
  font-size: 2em;
  color: #FFFCF2;
  text-decoration: underline
}

.message-envoye a:hover{
  color: black;
}

/*RESPONSIVE*/


/*NAV*/


@media only screen and (max-width: 768px) {

  .header{
    position: static;
  }

  .site-container{
    height: 100%;
    overflow: hidden;
  }

  .site-content{
    padding:0;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0
    -webkit-overflow-scrolling:touch;
  }


  .header__icon{
    position: relative;
    display: block;
    float: left;
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: #FFFCF2;
    z-index: 3;
  }

  .header__icon::after{
    content: "";
    position: absolute;
    display: block;
    top: 13px;
    left: 21px;
    width: 16px;
    height: 0;
    box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
  }

  .menu{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background: #FFFCF2;
    transform: translateX(-250px);
    transition-duration: .3s;
  }

  .item-menu li{
    
  }

  .item-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .item-menu li{
    width: 100%;
  }

  .item-menu li:first-child{
    margin-right: 0;
  }

  .social{
    justify-content: center;
    padding: 0;
  }

  .menu a{
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }

  .site-pusher{
    transition-duration: .3s;
    transform: translateX(0);
    height: 100%;
  }

  .with-sidebar .site-pusher{
    transform: translateX(250px);
  }

  .with-sidebar .site-cache{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
  }

  .menu a:nth-child(5){
   padding: 40px 0;
  }

  .menu a:first-child{
    padding: 20px 0;
  }

}


/* MENU MOBILE */

@media (max-width: 768px){

    #pusher{
        height: 100%;
    }

    .header{
        position: static;
        background: none;
    }

    .header-page, .header-page h1{
        margin: 0;
    }

    .container{
        padding-top: 0;
    }

    .site-content{
        padding-top: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch;
    }

    .header__icon{
        display: block;
        float: left;
        width: 60px;
        height: 60px;
        cursor: pointer;
    }

    .header__icon::after{
        content: '';
        position: absolute;
        display: block;
        top: 1rem;
        left: 1.3rem;
        width: 1rem;
        height: 0;
        box-shadow: 0 8px 0 1px #05182a, 0 14px 0 1px #05182a, 0 20px 0 1px #05182a;
    }

    .menu{
        position: absolute;
        width: 250px;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        background: #FFFCF2;
        transform: translateX(-250px);
        transition-duration: 0.3s;
    }

    header a{
        text-align: center;
        display: block;
        height: 40px;
    }


    .with-sidebar #pusher{
        transform: translateX(250px);
        opacity: 5s;
    }

    #pusher{
        transition-duration: 0.3s;
        transform: translateX(0);
    }

    #list-nav{
        width: 100%;
        text-align: left;
        margin:0;
        padding: 0;
    }
   
   #list-nav li{
        display: block;
        line-height: 2em;
        border:none;
   }  

   #list-nav li:first-child{
        margin: 20px 0 50px;
   }

   .social{
    margin: 50px 0;
    padding: 0; 
    justify-content: space-around;
   }

   #list-nav a{
        padding: 7% 10px;
   }

}

/*INDEX*/

@media (max-width:768px){

    .header-page h1{
        font-size: 2em;
        color: #FFFCF2;
        letter-spacing: 2px;
    }

    .header-page {
        margin-bottom: 50px;

    }

  .bloc-about{
     background-color: #04B5FF;
    }

  .bloc-work{
     background-color: coral;
    }

  .bloc-photo-1, .bloc-photo-2{
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .bloc-work .description , .bloc-about .description {
    width: 90%;
  }

  .bloc-work .description h1, .bloc-about .description h1{
    padding: 30px 0 40px;
    text-align: center;
  }

  .bloc-work .description p, .bloc-about .description p{
    padding:10px 0 30px;
  }



/*PAGE OLIVIER*/

@media (min-width: 769px){
    #photo-mobile{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}

@media (max-width:768px){

    .photo-olivier-1, .photo-olivier-2{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #photo-mobile{
        width: 50%;
        margin: 40px auto;
        padding: 40% 0;
        background: url('../images/olivierPortrait2.jpg') no-repeat center;
        background-size: cover;
    }

    .header-page-olivier {
        margin-bottom: 40px;
    }

    #link-cv{
        display: block;
    }

    .CTA{
        width: 40%;
    }


    .linkedin img{
    width: 30%;
}


@media (max-width: 425px){

    .CTA{
        width: 70%;
    }

    .linkedin img{
    width: 40%;
    }
}

/*PORTFOLIO*/

@media (max-width: 768px){

    .header-page h1{
        font-size: 3em;
    }

    .header-page h2{
    }

    .header-page h3{
        font-size: 1em;
    }

    .row-projet{
        display: block;
        width: 100%;
    }

    .bloc-projet{
        display: block;
        width: 70%;
        margin: 0 auto 50px;
    }

    .contenu-projet {
     background-color: black; 
     width: 100%; 
    }
}


/*CONTACT*/

@media (max-width: 768px){

    .header-page-olivier h2{
        font-size: 2em;r
    }

    #container-contact{
        text-align: left;
    }

    #flex-contact{
        display: block;
    }

    .introContact{
        width: 80%;
        margin: 0 auto;
        padding: 10px 10px;
        text-align: center;
    }

    .introContact a{
        display: block;
        letter-spacing: 0;
        line-height: 3;
    }

    .introContact h2{
        margin-bottom: 40px;
    }

    .introContact p{
        margin-top: 40px;
    }

    .formulaire{
        width: 80%;
        margin: 50px auto;
        text-align: left;
    }

    .formulaire .champs{
        display: block;
    }

    .formulaire input {
    width: 98%;
    margin: 10px auto;
    }

    .formulaire textarea {
    width: 98%;
    margin: 10px auto;
    }

    /*FOOTER*/

@media (max-width: 768px){
  .footer-info{
    padding-left: 0;
  }

  .image-arbre{
      background: url('../images/logo-tab.svg') no-repeat center center ;
      background-size: contain;
    }

  .tech {
        padding: 2%;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
  }
}

@media (max-width: 425px){


      .image-arbre{
          background: url('../images/logo-mobile.svg') no-repeat center center ;
          background-size: contain;
        }
  
      .tech{ 
          padding: 40px;
          border-top: 1px solid white;
          border-bottom: 1px solid white;
          margin: 50px 0;
       }
      .menu-footer a{
          text-decoration: none;
          font-size: 3em;
          color: #FFFCF2;
       }

      .footer-info{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: stretch;
       }

       .item-menu-footer{
          display: flex;
          flex-direction: column;
       }

       .item-menu-footer li{
          padding: 20px;
       }

       .info-site{
          display: flex;
          flex-direction: column;
       }

}


